.boxes-container {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.box {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex; 
  align-items: center; 
  width: 500px;
  border: 0.5px solid #d9d9d9;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease 0s;
}

.box:hover {
  color: rgb(255, 255, 255);
  background: rgba(63, 152, 107, 1);
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(63, 152, 107, 1);
  box-shadow: 5px 40px -10px rgba(63, 152, 107, 1);

}


.box:hover .box-info {
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(63, 152, 107, 1);
  box-shadow: 5px 40px -10px rgba(63, 152, 107, 1);

}

.box img {
  border-radius: 0px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.box .box-info {
  font-family: "Quicksand";
  margin-left: 10px; 
  flex-grow: 1;
  color: #154300;
  transition: all 0.4s ease 0s;
}

.box h3, .box p {
  margin: 0; 
}

.box-rating-container {
  position: relative;
  width: 100px;
  height: 20px;
}

.rating-bar-container {
  width: 100%;
  height: 100%;
  background-color: #888888;
  border-radius: 2px;
  overflow: hidden;
}

.rating-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #287e00;
}

.rating-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/EcoScore_rating.png"); 
  background-size: cover;
}

.rating-container {
  display: flex;
  align-items: center;
}

.rating-container span {
  margin-left: 10px;
}



.rating-text {
  padding-left: 5px;
  margin-right: 10px; 
}

.rating-bar-container {
  flex-grow: 1;
}


.ecoLabels{
  width: 150px;
  margin-left: 50px;
  border: 2px solid black;
  padding: 25px;
  border-radius: 7px;
}

.filter{
  padding: 5px;
}