*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(237, 239, 234);
    background-position: center;
    background-size: cover;
}

.navbar{
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    /*sborder: 2px solid red;*/
}

.icon{
    width: 250px;
    height: 70px;
    float: left;
    /*border: 2px solid blue;*/
}

.logo{
    color: rgb(61, 122, 82);
    font-size: 35px;
    font-family: 'Times New Roman';
    padding-left: 25px;
    float: left;
    padding-top: 15px;
}

.menu{
    width: 620px;
    height: 70px;
    float: left;
    /*border: 2px solid blue;*/
}

ul {
    float: right;
    display: flex; /*Places element as a row at top and not as column*/
    justify-content: center;
    align-items: center;
    /*border: 2px solid red;*/
}

ul li {
    list-style: none; /*Removes standard bullet points*/
    margin-left: 80px;
    margin-top: 25px;
    font-size: 15px;
    /*border: 2px solid saddlebrown;*/
}

ul li a {
    text-decoration: none; /*Removes standard underlining*/
    color: black;
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(31, 134, 65);
}

.feature{
    height: 350px;
    width: 100%; /*Fills whole width without creating the scroll bar from side to side*/
    margin-top: 3px;
    box-sizing: border-box; /*Padding and border are included in width/height*/
    background: rgb(92,146,110);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature_text{
    color: black;
    font-size: 60px;
    font-family: 'Times New Roman';
    float: left;
    margin-left: 550px; /*I think this is the center/half of width*/
    margin-top: 115px; /*Height=350, 350/2=175, 175-60=115px, should be half of height*/
}

/*.srchbar{
    border: 2px solid brown;
    height: 230px;
}*/

.srch{
    float: left; /*To connect bar and btn*/
    margin-top: 210px;
    width: 300px;
}

.srchbtn{
    margin-top: 210px;
}
