*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(237, 239, 234);
    background-position: center;
    background-size: cover;
}

.navbar{
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    /*sborder: 2px solid red;*/
}

.icon{
    width: 250px;
    height: 70px;
    float: left;
    /*border: 2px solid blue;*/
}

.logo{
    color: rgb(61, 122, 82);
    font-size: 35px;
    font-family: 'Times New Roman';
    padding-left: 25px;
    float: left;
    padding-top: 15px;
}

.menu{
    width: 620px;
    height: 70px;
    float: left;
    /*border: 2px solid blue;*/
}

ul {
    float: right;
    display: flex; /*Places element as a row at top and not as column*/
    justify-content: center;
    align-items: center;
    /*border: 2px solid red;*/
}

ul li {
    list-style: none; /*Removes standard bullet points*/
    margin-left: 80px;
    margin-top: 25px;
    font-size: 15px;
    /*border: 2px solid saddlebrown;*/
}

ul li a {
    text-decoration: none; /*Removes standard underlining*/
    color: black;
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(31, 134, 65);
}

.feature{
    height: 350px;
    width: 100%; /*Fills whole width without creating the scroll bar from side to side*/
    margin-top: 3px;
    box-sizing: border-box; /*Padding and border are included in width/height*/
    background: rgb(92,146,110);
    display: flex;
    /*justify-content: center;
    align-items: center;*/
}


/*.feature_text{
    color: black;
    font-size: 40px;
    font-family: 'Times New Roman';
    margin-top: 115px; Height=350, 350/2=175, 175-60=115px, should be half of height
}*/

.feature_text{
    width: 400px;
    height: 25px;
    font-size: 30px;
    margin-left: 450px;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    color: aliceblue;
    /*border: 2px solid red;*/
}

.srchbar{
    width: 500px;
    height: 40px;
    margin-top: 200px;
    margin-left: 400px;
    padding: 20px;
    /*border: 2px solid saddlebrown;*/
}

.srch{
    width: 420px;
    height: 40px;
    float: left; /*To connect the bar to the button*/
    background: transparent;
    border: 1px solid greenyellow;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-right: none;
    padding: 15px;
    outline: none;
}

::placeholder{
    color: aliceblue;
}

.srchbtn{
    width: 80px;
    height: 40px;
    background: greenyellow;
    border: 1px solid greenyellow;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: black;
    font-size: 16px;
}

a .srchbtn:hover{
    color: rgb(139, 167, 111);
}

