.featureImgContainer {
    position: relative;
    z-index: 0;
}

.featureImg{
    height: 350px;
    width: 100%; /*Fills whole width without creating the scroll bar from side to side*/
    box-sizing: border-box; /*Padding and border are included in width/height*/
    display: flex;
}


.feature_text{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 600px;
    height: 25px;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    /*border: 2px solid red;*/
}

.srchbar{
    position: absolute;
    bottom: 93px;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    width: 500px;
    height: 40px;
    /*border: 2px solid saddlebrown;*/
    
}

.srch{
    width: 420px;
    height: 40px;
    float: left; /*To connect the bar to the button*/
    background: transparent;
    border: 1px solid greenyellow;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-right: none;
    padding: 15px;
    outline: none;
    color: aliceblue;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.srch:hover{
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

::placeholder{
    color: aliceblue;
    font-size: 14px;
}

input:focus::placeholder {color: transparent;}

.srchbtn{
    width: 80px;
    height: 40px;
    background: greenyellow;
    border: 1px solid greenyellow;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: black;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.srchbtn:hover{
    color: rgb(139, 167, 111);
    background: rgb(126, 243, 9);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}


.cbtn{
    width: 250px;
    height: 50px;
    height: 60px;
    background: rgb(161, 205, 112);
    border: 3px solid rgb(141, 174, 103);
    border-radius: 30px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 120px;
    margin-right: 120px;
    font-family: "Lato";
    font-weight: bold;
    color: rgb(232, 237, 234);
}

.cbtn:hover{
    background: rgb(46, 191, 114);
    cursor: pointer;
}


.cbtn:active{
    background: rgb(63, 152, 107);
    cursor: pointer;
}

/*
background: rgb(46, 191, 114);
background: rgb(63, 152, 107);
*/